<div class="contact section-invert py-4">
    <h3 class="section-title text-center m-5">Register Patient</h3>
    <div class="container py-4">
      <div class="row justify-content-md-center px-4">
        <div class="contact-form col-sm-12 col-md-10 col-lg-7 p-4 mb-4 card">
          <form action="patient/setPatient" method="POST">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="contactFormFullName">Full Name</label>
                  <input type="text" class="form-control" id="contactFormFullName" placeholder="Enter your full name">
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="contactFormEmail">Email address</label>
                  <input type="email" class="form-control" id="contactFormEmail" placeholder="Enter your email address">
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <label for="contactFormEmail">Phone Number</label>
                    <input type="number" class="form-control" id="contactFormEmail" placeholder="Enter your email address">
                  </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                      <label for="contactFormFullName">Date Of Birth</label>
                      <input type="date" class="form-control" id="contactFormFullName" placeholder="Enter your full name">
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <label for="contactFormFullName">Gender</label>
                    <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline" name="gender" required>
                        <option value="">Select a Gender</option>
                        <option value="0">Male</option>
                        <option value="1">Female</option>
                        <option value="2">Other</option>
                        </select>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <label for="contactFormEmail">Address</label>
                    <input type="text" class="form-control" id="contactFormEmail" placeholder="Enter your email address">
                  </div>
                </div>
              </div>
            <input class="btn btn-primary btn-pill d-flex ml-auto mr-auto" type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </div>